/* media breakpoints */
button, hr, input {
  overflow: visible; }

audio, canvas, progress, video {
  display: inline-block; }

progress, sub, sup {
  vertical-align: baseline; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

menu, article, aside, details, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, select {
  text-transform: none; }

[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

summary {
  display: list-item; }

[hidden], template {
  display: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.inner-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1080px; }

body {
  font-size: 62.5%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-family: "Josefin Slab", serif; }

p, a {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

#home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../assets/images/space-hero.png);
  background-size: cover;
  padding: 1px;
  height: 100vh;
  position: sticky; }

.hire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  width: 80%;
  animation: borderChange 4s alternate infinite; }

@keyframes borderChange {
  0% {
    border-bottom: 1px solid rgba(211, 211, 211, 0.2); }
  50% {
    border-bottom: 1px solid #63f9c5; }
  75% {
    border-bottom: 2px solid #f5f5f5; }
  100% {
    border-bottom: 1px solid rgba(211, 211, 211, 0.2); } }

@keyframes colorChange {
  0% {
    color: #ca60f5; }
  25% {
    color: #ba30f2; }
  75% {
    color: #63f9c5; }
  100% {
    color: #32f7b3; } }

.hire .smooth {
  color: #63f9c5;
  font-size: 1.5rem;
  padding: 1% 2%;
  transition: 0.6s ease;
  font-weight: bold;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }
  .hire .smooth:hover {
    color: #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5; }

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.2); }

.header-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0 2%; }

.header-links .smooth {
  text-align: center;
  width: 48%;
  font-size: 1.2rem;
  color: #63f9c5;
  padding: 10px;
  border: 2px solid #63f9c5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-links .smooth:hover {
    background: rgba(255, 255, 255, 0.2); }
  .header-links .smooth:nth-of-type(2) {
    color: #f5f5f5;
    border: 2px solid #f5f5f5; }

.header-text {
  text-align: center;
  letter-spacing: 1px;
  margin: 2% 0 0 0;
  color: #f5f5f5;
  font-family: "Josefin Slab", serif;
  font-size: 3.5rem;
  font-weight: bold; }

.header-primary {
  text-align: center;
  letter-spacing: 1px;
  margin: 2% 0 0 0;
  color: #f5f5f5;
  font-family: "Josefin Slab", serif;
  font-size: 3.5rem;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 10%;
  text-shadow: 3px 3px 1px #1c1e2f; }

.header-secondary {
  color: gainsboro;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 3px 3px 1px #1c1e2f;
  margin: 2% 0 0 0;
  padding: 0 5%; }
  .header-secondary:nth-of-type(2) {
    margin: 0; }

@media (max-width: 850px) {
  #home {
    background-position: center; }
  .inner-wrapper {
    width: 90%; }
  .header-links .smooth {
    height: 12vh; }
  .header-links {
    margin-top: 15%; }
  .header-secondary:nth-of-type(1) {
    margin-bottom: 3%; } }

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
    width: 100%; }
  .header-primary {
    font-size: 4.7rem; }
  .header-links {
    flex-wrap: wrap;
    margin-top: 5%; }
  .header-links .smooth {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 5%;
    height: 12vh; } }

@media (max-width: 500px) {
  .header-links .smooth {
    font-size: 1.2rem; } }

@media (max-width: 380px) {
  #home {
    background-position: 550px; }
  .inner-wrapper {
    width: 90%; }
  .header-primary {
    font-size: 3.5rem !important;
    margin: 7% 0 3%; }
  .header-secondary {
    font-size: 1.7rem; }
  .header-links .smooth {
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 5%;
    height: 12vh; } }

#about {
  display: flex; }
  #about .header-text {
    margin-top: 2%; }

#modal-open {
  font-weight: bold;
  text-decoration: underline;
  color: #adfce0;
  cursor: pointer; }

#modal-exit {
  padding: 9px 18px;
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  color: #1c1e2f;
  cursor: pointer;
  transition: 0.3s ease; }
  #modal-exit:hover {
    background: #1c1e2f;
    color: #f5f5f5; }

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/darkness.png);
  position: relative; }

.about-text {
  width: 60%;
  padding: 0 3% 3%;
  font-size: 1.3rem;
  color: #f5f5f5;
  letter-spacing: 1px;
  line-height: 1.55; }

.modal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 7px;
  height: 100%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 3vw;
  right: 0;
  background: rgba(55, 55, 55, 0.9); }

.skillcard-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  font-size: 3.0rem;
  text-align: center;
  color: white; }

.close-out {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: rgba(21, 242, 198, 0.9);
  width: 100%;
  text-align: center; }

@media (max-width: 850px) {
  #about {
    height: 65vh; }
    #about .header-text {
      margin-top: 0; }
  .inner-wrapper {
    width: 90%; }
  .about-text {
    line-height: 1.45; }
  .modal {
    width: 100%;
    left: 0; } }

@media (max-width: 380px) {
  .header-text {
    font-size: 3.0rem;
    padding-top: 5%; }
  #about {
    height: 80vh; }
    #about .header-text {
      padding-top: 0;
      margin-top: 15%; }
  .section-subheader {
    font-size: 1.6rem; }
  .about-text {
    width: 90%;
    font-size: 1rem;
    text-align: center;
    line-height: 1.65; }
    .about-text p {
      margin-bottom: 15%; } }

.break {
  height: 2vh;
  width: 100vw;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../assets/images/space2.jpg); }

@keyframes borderChange {
  0% {
    border-color: #63f9c5; }
  20% {
    border-color: #55f6fc; }
  40% {
    border-color: #55a2fc; }
  60% {
    border-color: #555dfc; }
  80% {
    border-color: #9755fc; }
  100% {
    border-color: #d255fc; } }

#projects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  background: url(../assets/images/darkness.png);
  background-size: covers;
  padding-bottom: 2%; }

#project-header {
  padding-top: 5%;
  background: url(../assets/images/darkness.png);
  padding: 1px;
  text-align: center; }
  #project-header .header-text {
    padding-bottom: 5px; }

.project {
  background: transparent;
  width: 50%;
  margin: 0;
  padding: 2%;
  color: #f5f5f5;
  font-size: 0.8rem; }
  .project img {
    width: 100%; }

.project01, .project02 {
  padding-top: 0; }

.project-header {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
  border-bottom: 5px double #f5f5f5;
  display: inline-block;
  text-transform: capitalize;
  color: #63f9c5; }

#project-header:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  border-bottom: 3px double #63f9c5; }

.view-src {
  display: inline-block;
  padding: 10px 25px;
  background: transparent;
  color: #d6d6d6;
  font-size: 1.1rem;
  transition: 0.3s ease;
  border: 1px solid #63f9c5; }
  .view-src:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #f5f5f5; }

@media (max-width: 750px) {
  #projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0; }
  .project {
    width: 75%; }
  .view-src {
    height: 10vh;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.3rem; }
  .project p {
    font-size: 1.1rem; } }

@media (max-width: 600px) {
  #project-header .header-text {
    margin-top: 10%; }
  .view-src {
    width: 50%; }
  .project p {
    font-size: 0.9rem; } }

@media (max-width: 500px) {
  #project-header .header-text {
    font-size: 3.0rem; } }

@media (max-width: 380px) {
  .project-header {
    font-size: 1.5rem;
    border-bottom: 3px double #f5f5f5;
    margin: 5% 0; }
  .section-subheader {
    border: none; }
  .project {
    width: 95%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .project:nth-of-type(even) {
      background: rgba(255, 255, 255, 0.1); }
      .project:nth-of-type(even) .view-src:hover {
        background: transparent; }
  .view-src {
    margin-bottom: 2%; }
  #project-header .header-text {
    margin-top: 15%; }
  .project p {
    font-size: 0.8rem; } }

#contact {
  position: relative;
  background: url(../assets/images/darkness.png);
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%; }
  #contact .inner-wrapper {
    background: black;
    border: 1px solid #63f9c5;
    border-radius: 5px;
    padding: 2% 15%; }
  #contact .header-text {
    margin: 0;
    padding-bottom: 2%; }
  #contact .section-subheader {
    color: #f5f5f5; }

.ship {
  position: absolute;
  top: 0;
  left: 0;
  width: 29%; }
  .ship img {
    width: 100%; }

.social-nav {
  border-top: 3px solid #1c1e2f;
  padding-top: 5%;
  display: flex;
  margin-top: 5%; }
  .social-nav li {
    width: 50%; }
  .social-nav p {
    font-size: 0.5rem; }
  .social-nav img {
    width: 25%;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent; }

.social-links {
  padding: 20% 20% 10%;
  transition: 0.2s ease; }
  .social-links:hover img {
    border-bottom: 3px solid #32f7b3; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

.title {
  margin-bottom: 30px;
  font-family: "Josefin Slab", serif;
  text-shadow: 2px 2px 2px black;
  font-weight: 400;
  font-size: 2.0rem;
  color: #fff;
  text-align: center; }

.container .wrapper {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 27.5px; }

#contactForm {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  grid-template-areas: 'name' 'email' 'company' 'phone' 'message'; }

.required-field {
  grid-column: 1 / 2; }

.submit-button {
  grid-column: 2 / 3; }

.name-field {
  grid-area: name;
  grid-column: 1 / 3; }

.email-field {
  grid-area: email;
  grid-column: 1 / 3; }

.company-field {
  grid-area: company;
  grid-column: 1 / 3; }

.phone-field {
  grid-area: phone;
  grid-column: 1 / 3; }

.message-field {
  grid-area: message;
  grid-column: 1 / 3; }

.contact-us {
  margin: 0 0 30px;
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #32f7b3;
  text-align: center;
  letter-spacing: 2px; }

.contact form {
  border: 0; }

.contact form label {
  display: block; }

.contact form p {
  margin: 0;
  font-weight: 200;
  font-size: 0.8rem;
  color: #4a5660; }

.contact form input, .contact form textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.0rem;
  width: 100%;
  padding: .4em .8em;
  background: rgba(249, 250, 250, 0.9);
  border: 1px solid rgba(74, 86, 96, 0.1);
  border-radius: 2.5px;
  outline-color: #5dc3f2;
  margin: 1% 0; }

input[name="name"], input[name="phone"] {
  width: 100%; }

.contact form button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  background: #32f7b3;
  width: 90px;
  height: 35px;
  border: 0;
  border-radius: 15px; }

.submit-button {
  align-self: center;
  justify-self: end; }

.contact form button:hover, .contact form button:focus {
  background: #09ed9e;
  color: #fff;
  outline: 0;
  transition: background-color 0.3s ease-out; }

.required-field {
  font-weight: 200;
  color: rgba(14, 255, 179, 0.703);
  align-self: center;
  justify-self: start;
  padding: 3% 0; }

.container span {
  color: #bd5bff;
  font-size: 0.8rem; }

.alert {
  margin-bottom: 1em;
  padding: 10px;
  background: #1c1e2f;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 2.5px;
  display: none; }

.contact form .invalid p {
  color: #bd5bff;
  margin-bottom: 2%; }

.invalid {
  display: none; }

@media (max-width: 850px) {
  #contact .inner-wrapper {
    padding: 2% 7%; } }

@media (max-width: 600px) {
  #contact .inner-wrapper {
    padding: 0; } }

@media (max-width: 380px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contact .inner-wrapper {
      padding: 0;
      margin: 0;
      width: 100%; }
    #contact .container {
      width: 100vw; }
  .social-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .social-nav p {
    font-size: 0.7rem; }
  .social-links img {
    width: 100%; }
  .ship {
    display: none; } }

#footer {
  display: flex;
  justify-content: center;
  padding: 10px 0; }

.copyright {
  color: #f5f5f5;
  padding: 5px 0;
  margin: 0;
  font-size: 0.8rem; }

.full-footer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)), url(../assets/images/darkness.png); }

.footer-email {
  color: #f5f5f5; }

@media (max-width: 380px) {
  #footer {
    text-align: center;
    font-size: 0.7rem; } }
