#about {
    display: flex;
    .header-text {
        margin-top: 2%;
    }
}

.about {
    // width: 50%;
}

.about-right {
    background: url(../assets/images/omer-headshot.jpg);
    background-size: cover;
    height: 100vh;
    border: 1px solid $alt-color;
}

.about-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    background: $white;
    p {
        width: 60%;
        border: 3px solid $black;
        padding: 3%;
        margin: 2% 0;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
}

.section-subheader {
    display: inline-block;
    margin: 0;
    border-bottom: 3px double skyblue;
    font-family: $body-font;
    font-size: 2rem;
}