#break {
    display: flex;
    justify-content: center;
    text-align: center;
    background: $black;
    h3 {
        font-size: 2.2rem;
        color: $white;
        font-family: $body-font;
    }
}

.highlight {
    color: lighten($primary-color, 10);
    &:first-child {
        color: $alt-color;
    }
}