#footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.copyright {
    color: $white;
    padding: 5px 0;
    margin: 0;
    font-size: 0.8rem;
}

.full-footer {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)), url(../assets/images/darkness.png);
}

.footer-email {
    color: $white;
}

// media queries

@media (max-width: $large-screen) {
    
}

@media (max-width: $medium-screen){

}

@media (max-width: $small-screen){
#footer {
    text-align: center;
    font-size: 0.7rem;
}
}
