// variables

// fonts
$heading-font: 'Josefin Slab', serif;
$body-font: 'Roboto', sans-serif;

$test: 'Playfair Display', serif;

// colors
$primary-color: #63f9c5;
$secondary-color: #bd5bff;
$alt-color: #87CEEB;
$black: #1c1e2f;
$white: #f5f5f5;

/* media breakpoints */
$small-screen : 380px;
$medium-screen : 600px;
$large-screen: 850px;

// @media (min-width: $small-screen){

// }

// @media (min-width: $small-landscape-screen){

// }

// @media (min-width: medium-screen){

// }

// @media (min-width: $large-screen){
    
// }
