@font-face { font-family: Nasa; src: url('../assets/resources/Nasa.ttf'); }

// variables

// fonts
$primary-heading-font: Nasa, sans-serif;
$heading-font: 'Do Hyeon', sans-serif;
$body-font: 'Spectral SC', serif;

// colors
$primary-color: #fc3d21;
$secondary-color: #0b3d91;
$alt-color: #87CEEB;
$black: #1c1e2f;
$white: #f5f5f5;

/* media breakpoints */
$laptop : 1000px;
$tablet : 800px;
$mobile : 480px;