// variables

// fonts
$heading-font: 'PT Sans', sans-serif;
$body-font: 'Inconsolata', monospace;

// colors
$primary-color: paleturquoise;
$secondary-color: steelblue;
$alt-color: firebrick;
$black: darkslategray;
$white: whitesmoke;

/* media breakpoints */
$laptop : 1000px;
$tablet : 800px;
$mobile : 480px;