header {
    background: url(../assets/images/space3.jpg);
    background-size: cover;
    padding: 1px;
    height: 100vh;
    position: sticky;
}

.header-text {
    text-align: center;
    letter-spacing: 5px;
    margin: 2% 0 0 0;
    color: $primary-color;
    font-family: $body-font;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 3px 1px $black;
}

.header-primary {
    @extend .header-text;
    font-size: 12rem;
    margin-top: 17.5%;
    text-shadow: 3px 2px 1px white;
    font-family: $primary-heading-font;
}

.navigation-primary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        padding: 10px 0;
        opacity: 1;
       }
    a {
        color: white;
        padding: 12px 24px;
        font-size: 1.5rem;
        transition: 0.3s ease;
        &:hover {
        background: #516eae;
        }
    }
}


.header-secondary {
    color: white;
    font-family: $heading-font;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 3px 3px 1px $secondary-color;
    margin: 0;
}

.shrink {
    position: fixed;
    background: rgba(255,255,255, 0.1)
}
