#projects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    background: $white;
}

#project-header {
    padding-top: 5%;
    background: $white;
    padding: 1px;
    text-align: center;
}

.project  {
    width: 50%;
    margin: 0;
    padding: 2%;
    img {
        width: 100%;
    }
}

.project-header {
    font-family: $body-font;
    font-size: 2rem;
    border-bottom: 5px double $secondary-color;
    display: inline-block;
    text-transform: lowercase;
}

.view-src {
    padding: 5px 10px;
    background: $black;
    color: $white;
    font-size: 1.1rem;
    transition: 0.3s ease;
    box-shadow: 1px 1px 1px black;
    &:hover {
        background: lighten($black, 15);
        box-shadow: none;
    }
}

